@font-face {
  font-family: 'VT323';
  src: url('/assets/font/VT323-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  --c-full-black: #000;
  --c-gray-1: #111;
  --c-gray-2: #222;
  --c-gray-3: #333;
  --c-gray-4: #444;
  --c-original-black: color: rgba(36, 36, 36, 0.5);
  --c-full-white: #fff;
}

p,
img,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
nav,
.btn,
.subheading,
.video,
.social-icons,
.hidden-print,
#zdroje {
  height: 0 !important;
  width: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  display: none !important;
  visibility: hidden;
}

html,
body,
.resume-section {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  color: var(--c-full-black);
  font-family: monospace;
  width: 47mm;
  padding: 0;
  margin: 0;
}

hr {
  overflow: hidden;
  border: none;
  border-bottom: .5px dashed var(--c-gray-1);
}

.virtualniLahvomatApp {
  display: flex;
  justify-content: start;
}

.lahvomat_form {
  display: none !important;
}

#barcodeHolder {
  text-align: center;
  width: 100%;
}

#barcodeText {
  text-align: center;
  font-size: 2.5mm;
  transform: scale(2, 1);
}

.ticket {
  display: block;
  margin: 0 auto;
  width: 47mm;
  font-size: 12px;
}

.hlavicka {
  text-align: center;
}

.paticka {
  text-align: center;
  font-size: .85em;
}

#polozky {
  text-align: justify;
  font-size: 10px;
  margin-top: 0.5em;
}

#listek {
  text-align: right;
}

#prouzek {
  width: 100%;
  text-align: right;
  margin-bottom: 2mm;
  color: white;
  background-color: var(--c-gray-1);
  font-size: 5mm;
  line-height: 0.85;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.currency {
  font-weight: 100;
  font-size: 0.95em;
}

.lidl #hlavicka1 {
  font-size: 1.1em;
  font-family: monospace;
}

.lidl #hlavicka2,
.lidl #hlavicka3 {
  font-size: .9em;
}

.lidl #prouzek {
  padding: 0.6mm 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-kerning: -0.04em;
}

.lidl #prouzek .currency {
  letter-spacing: -2px;
}

.lidl #hlavicka4 {
  display: none;
}

.lidl hr,
.lidl pre {
  margin: 0;
  color: var(--c-gray-1);
}

.lidl #polozky {
  font-size: 10px;
  padding-left: 2mm;
}

.lidl #polozky #lahve-title {
  margin-left: -2mm;
}

.lidl #prepravky {
  display: none;
}

.ticketNote {
  display: none;
}

.lidl .ticketNote {
  display: block;
  margin: 5px 0;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.85em;
  font-weight: bold;
  letter-spacing: -.2px;
}

.lidl .ticketNote hr {
  margin: .6em 0 0 0;
}