:root {
  --c-full-black: #000;
  --c-gray-1: #111;
  --c-gray-2: #222;
  --c-gray-3: #333;
  --c-gray-4: #444;
  --c-orange-1:  #bd5d38;
  --c-orange-2: #824027;
  --c-orange-3: #f0ad4e;
  --c-original-black: color: rgba(36, 36, 36, 0.5);
  --c-full-white: #fff;
}

.contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

a.contact-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 0 0 100px;
  height: 100px;
  font-size: 2em;

  border-radius: 50%;
  border: 1px solid var(--c-gray-4);
  padding: 0.2em;
}

a.contact-icon:hover {
  background-color: var(--c-orange-3);
  text-decoration: none;
}

.video {
  text-align: center;
}

p {
  text-align: justify;
  font-size: 1.2rem;
}

p.lead {
  font-size: 1.4rem;
}

hr {
  border-bottom: .8px dashed var(--c-gray-4);
}

.virtualniLahvomatApp {
  display: flex;
}

.lahvomat_form {
  display: flex;
  flex-flow: column;
  width: 100%;
  margin-right: 2em;
  color: var(--c-full-black);
}

#barcodeHolder {
  width: 100%;
  text-align: center;
}

#barcodeText {
  text-align: center;
  font-size: 2.5mm;
  transform: scale(2, 1);
}

.ticket {
  display: block;

  margin: 0 auto;
  width: 47mm;

  color: var(--c-full-black);
  font-family: monospace;
  max-width: 80%;

  font-size: 12px;

  background-color: burlywood;
  border: 2px dotted var(--c-original-black);
}

.hlavicka {
  text-align: center;
}

.paticka {
  text-align: center;
}

#polozky {
  text-align: justify;
  font-size: 10px;
  margin-top: 0.5em;
}

#listek {
  text-align: right;
}

#prouzek {
  width: 100%;
  text-align: right;
  line-height: 0.85;
  margin-bottom: 2mm;
  color: var(--c-full-white);
  background-color: var(--c-gray-4);
  font-size: 5mm;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.lidl #prouzek {
  padding: 0.6mm 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.currency {
  font-weight: 100;
}

.lidl #hlavicka4 {
  display: none;
}

.no-lidl {
  display: none !important;
}

.ticketNote {
  display: none;
}

.lidl .ticketNote {
  display: block;
  text-align: center;
  font-size: .75em;
  font-weight: bold;
}